extends layout

block content
  div(class='page-header') Welcome to #{title}
  form(method='post',action='/fnm',class='form')
    div(class='col-sm-6')
      div(class='form-group')
        label(class='control-label') ssn
        input(type='text',name='ssn',placeholder='SSN',value='#{ssn}',class='form-control')
      div(class='form-group')
        label(class='control-label') lastName
        input(type='text',name='lastName',placeholder='lastName',value='#{lastName}',class='form-control')
      div(class='form-group')
        label(class='control-label') caseNumber
        input(type='text',name='caseNumber',placeholder='caseNumber',value='#{caseNumber}',class='form-control')
      div(class='form-group')
        label(class='control-label') transactionType
        select(name='transactionType',placeholder='transactionType',class='form-control')
          option(value='16') Purchase
          option(value='05') Refinance
      div(class='form-group')
        label(class='control-label') lienPosition
        select(name='lienPosition',placeholder='lienPosition',class='form-control')
          option(value='1') First
          option(value='2') Second
    div(class='col-sm-6')
      div(class='form-group')
        label(class='control-label') streetAddress
        input(type='text',name='streetAddress',placeholder='streetAddress',value='#{streetAddress}',class='form-control')
      div(class='form-group')
        label(class='control-label') city
        input(type='text',name='city',placeholder='city',value='#{city}',class='form-control')
      div(class='form-group')
        label(class='control-label') state
        input(type='text',name='state',placeholder='state',value='#{state}',class='form-control')
      div(class='form-group')
        label(class='control-label') zip
        input(type='text',name='zip',placeholder='zip',value='#{zip}',class='form-control')
    div(class='form-group')
      input(type='submit',value='generate',class='btn btn-success',class='form-control')
